<section>
    <section>
        <section style="white-space: normal;background-color: rgb(255, 255, 255);">
            <section data-width="100%" style="width: 657px;">
                <section data-width="100%" style="width: 657px;border-left: 2px dashed rgb(83, 74, 71);background: rgb(245, 245, 245);">
                    <section style="padding: 0.5em;font-size: 14px;color: rgb(62, 62, 62);line-height: 1.75em;">
                        <span>{{text}}</span></section></section>
                <section style="letter-spacing: 0.544px;margin-top: -20px;display: flex;justify-content: flex-end;">
                    <section style="width: 0px;height: 0px;border-bottom: 20px solid rgb(255, 255, 255);border-left: 20px solid transparent;"><br/></section>
                </section>
            </section>
        </section>
    </section>
</section><br>
