<br><section>
    <section>
        <section style="text-align: center;">
            <section style="display: inline-block;vertical-align: middle;width: 29px;transform: rotate(0deg);"><img
                    data-ratio="1" data-type="png" data-w="128"
                    style="vertical-align: bottom; box-sizing: border-box !important; visibility: visible !important; width: 29px !important; height: auto !important;"
                    data-src="https://mmbiz.qpic.cn/mmbiz_png/xJNzMe4WDEwiavXiaSdo0OFWC6eQmBJDHESwpQHlmBIujZ1JI8Vj0A7R6Zj0BrdfpEMDNzibJ7phlLVlYIGwW2wibw/640?wx_fmt=png"
                    _width="29px"
                    src="https://mmbiz.qpic.cn/mmbiz_png/xJNzMe4WDEwiavXiaSdo0OFWC6eQmBJDHESwpQHlmBIujZ1JI8Vj0A7R6Zj0BrdfpEMDNzibJ7phlLVlYIGwW2wibw/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1&amp;wx_co=1"
                    crossorigin="anonymous" data-fail="0"/></section>
            <section style="margin-left: -29px;padding-left: 33px;display: inline-block;vertical-align: middle;">
                <section style="border-bottom: 2px solid rgb(90, 120, 234);">
                    <section style="padding-right: 2px;padding-left: 2px;">
                        <section
                                style="color: rgb(247, 100, 100);letter-spacing: 1px;line-height: 24px;text-align: justify;">
                            <section style="font-size: 16px;"><span style="color: rgb(90, 120, 234);font-size: 20px;"><strong>{{text}}</strong></span>
                            </section></section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section><br>