<section style="border-width: 0px; border-style: none; border-color: initial;">
  <section style="border-width: 0px; border-style: none; border-color: initial;">
    <section style="padding: 10px; width: 100%; text-align: center;">
      <section style="width: auto;display: inline-block;max-width: 90%;">
        <section style="width: 100%;margin-left: -50px;display: flex;align-items: center;-webkit-align-items: center;">
          <section style="width: 50px;">
            <section style="width: 50px;">
              <img style="display: block; width: 100% !important; visibility: visible !important;" src="https://mmbiz.qlogo.cn/mmbiz_gif/US10Gcd0tQFnafOOeB4s0jFTNoWZic7tFHIjFpDyaz9xHW61xdVWIgMO9PHcptAftkfoWIicDubAjOHB8cGFob3g/0?&amp;wx_fmt=gif"/>
            </section>
          </section>
          <section style="background: rgba(66, 76, 68, 0.8);width: 6px;height: 2px;">
            <br/>
          </section>
          <section style="background: rgba(66, 76, 68, 0.8);width: 60px;height: 2px;margin-left: 6px;">
            <br/>
          </section>
          <section style="background: rgba(66, 76, 68, 0.8);width: 10px;height: 2px;margin-left: 8px;">
            <br/>
          </section>
        </section>
        <section style="color: rgb(57, 57, 57);letter-spacing: 3px;font-size: 20px;margin-top: -15px;transform: translateZ(10px);">
          <p>
            <strong>{{ text }}</strong>
          </p>
        </section>
        <section style="width: 100%;margin-left: 30px;display: flex;justify-content: flex-end;-webkit-justify-content: flex-end;">
          <section style="width: 80px;">
            <section style="width: 80px;">
              <strong>
                <img style="display: block; width: 100% !important; visibility: visible !important;" src="https://mmbiz.qlogo.cn/mmbiz_png/US10Gcd0tQFnafOOeB4s0jFTNoWZic7tFavAJdz6pU5xkOBWIAP9JicnJwnsLViboT3rqBMMQGiaM6IdHMZ7KtSialg/0?&amp;wx_fmt=png"/>
              </strong>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
