<br><section style="text-align: left;">
    <section
            style="padding: 3px 5px;white-space: normal;background-color: rgb(255, 255, 255);display: inline-block;vertical-align: top;border-color: rgb({{ color }});width: 558px;border-width: 1px 1px 1px 4px;border-style: solid;font-size: 20px;color: rgb({{ color }});box-sizing: border-box;">
        <p style="box-sizing: border-box;">
      <span style="color: rgb({{ color }});">
        <strong>{{ text }}</strong>
      </span>
        </p>
    </section>
</section><br>
