<section style="text-align: left;justify-content: flex-start;box-sizing: border-box;">
    <section
            style="text-align: unset;max-width: 100%;color: rgb(122, 122, 122);line-height: 1.6;font-size: 16px;box-sizing: border-box;">
        <blockquote style="font-size: 18px;box-sizing: border-box;">
            <p style="box-sizing: border-box;margin: 0px;padding: 0px;">
                <span style="font-size: 14px;box-sizing: border-box;">{{ text }}</span>
            </p>
        </blockquote>
    </section>
</section>
