<section>
    <section style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
        <section style="display: inline-block; vertical-align: top;">
            <section
                    style="margin-bottom: -6px; line-height: 1em; padding-left: 2px; padding-right: 2px; font-size: 18px; color: rgb(72, 64, 64);">
                <p>
                    <strong>{{ text }}</strong>
                </p>
            </section>
            <section style="width: 100%; height: 10px; background-color: rgb(255, 202, 0);">
                <br/>
            </section>
        </section>
    </section>
</section>
