<section style="margin-left: 0em;margin-right: 0em;">
    <section
            style="font-family: PingFangSC-light;font-size: 16px;margin-top: 10px;margin-bottom: 10px;box-sizing: border-box;">
        <section style="width: 0.6em;display: inline-block;vertical-align: middle;box-sizing: border-box;"><span
                style="width: 0.6em;height: 0.6em;display: block;opacity: 0.2;background-color: rgb(101, 149, 236);box-sizing: border-box;"/>
            <span style="width: 0.6em;height: 0.6em;display: block;opacity: 0.6;margin-top: 2px;margin-bottom: 2px;background-color: rgb(101, 149, 236);box-sizing: border-box;"/>
            <span style="width: 0.6em;height: 0.6em;display: block;opacity: 1;background-color: rgb(101, 149, 236);box-sizing: border-box;"/>
        </section>
        <section style="display: inline-block;vertical-align: middle;color: rgb(101, 149, 236);box-sizing: border-box;">
            <p style="box-sizing: border-box;">
                <strong style="box-sizing: border-box;">  </strong>
                <span style="font-size: 18px;">
          <strong style="box-sizing: border-box;">
            <span style="font-size: 18px;font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;">&nbsp;{{ text }}</span>
          </strong>
        </span>
            </p>
        </section>
    </section>
</section>
