<section><strong><span style="font-size: 15px;"><strong
        style="color: rgb(90, 120, 234);font-size: 17px;letter-spacing: normal;text-align: left;">----------------</strong><br/></span></strong>
    <section style="letter-spacing: 0.544px;text-indent: 0em;white-space: normal;background-color: rgb(255, 255, 255);">
        <strong><span style="font-size: 15px;">{{order}}</span></strong><span style="font-size: 15px;">：</span><span
            style="font-size: 15px;color: rgb(255, 64, 129);"><strong>{{text}}</strong></span></section>
    <section style="letter-spacing: 0.544px;text-indent: 0em;white-space: normal;background-color: rgb(255, 255, 255);">
        <span style="font-size: 15px;color: rgb(255, 64, 129);"><strong><br/></strong></span></section>
</section>
