<section>
    <section style="display: flex;justify-content: center;align-items: center;width: 100%;">
        <section style="display: flex;justify-content: flex-start;align-items: center;flex-direction: column;">
            <section style="z-index: 1; display: flex; justify-content: center; align-items: center; height: 36px; border-width: 1px 0px; border-top-style: dotted; border-bottom-style: dotted; border-top-color: rgb(193, 205, 249); border-bottom-color: rgb(193, 205, 249); border-left-style: initial; border-left-color: initial; border-right-style: initial; border-right-color: initial;">
                <section style="width: 7px;height: 9px;"><img src="https://mmbiz.qlogo.cn/mmbiz_png/YK9e7vHy9IQATwibKVicOpXZibX8VOvBrnF39NdpXQMwdpyIgN0ibicEwRdge0mXthxjHagHgwpWhrsibvMZFibaQC6vQ/0?wx_fmt=png" alt="" style="display: block;"/></section>
                <section style="padding-right: 12px; padding-left: 12px; text-align: center;">
                    <p style="font-size: 16px;font-family: PingFangSC-Semibold, PingFang SC;font-weight: bold;color: #4468F8;line-height: 22px;">{{ text }}</p>
                </section>
                <section style="width: 7px;height: 9px;transform: rotate(180deg);"><img src="https://mmbiz.qlogo.cn/mmbiz_png/orc2J6rib40bATuJM23UiaHQ0tsVpvjgyuhk7To5zFqb2fyL9pCr1U7hfeKJELCht0KxWnuias6TLibMdcRhM7QhyQ/0?wx_fmt=png" alt="" style="display: block;"/>​
                </section>
            </section>
        </section>
    </section>
</section>
